@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.App {
  text-align: center;
  background-color: #e4e1e0;
  min-height: 800px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header {
  background: linear-gradient(to bottom right,rgb(254, 17, 126), rgb(255, 44, 105),rgb(255, 118, 46), rgb(255, 129, 38));
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.profile-wrapper h3 {
  font-family: 'Libre Baskerville', serif;
  line-height: 23pt;
  font-size: 29px;  
}

.logo-container {
  text-align: left;

}

.logo {
  width: 20%;
  padding: 10px;
}
.image--cover {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0px 20px 0;

  object-fit: cover;
  object-position: center right;
}

.nav-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  padding: 0 5%;
  margin-left: -1px;
  position: relative;
}
.nav-container li:not(:first-child) {
  /* border-left: 1px solid white;
  padding-left: 10%; */
}
.nav-container a {
  color: white;
  text-decoration: none;
}

.nav-item {
  background-color: transparent;
}

.nav-item.active {
  margin-bottom: -20px;
}

.svg-triangle{
  fill: white;
}

.nav-item.active::after {
  content: url('../assets/arrow.svg');
  display: block;
  transform: rotate(180);
}

.nav-container svg {
  position: absolute;
  top: 32px;
  left: 33px;
  transition:left 400ms ease-out;
}


.checklist-container {
  border-radius: 8px;
  background-color: white;
  /* margin: 5px;
  padding: 10px; */
}

.checklist-item {
  position: relative;
  border-radius: 9px;
  box-shadow: 0px 2px 9px 1px #ccc;
  padding: 20px;
  margin: 10px;
}

.content-container {
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.content-container > p {
  width: 40%;
  text-align: left;
  margin: 0px;
}

.more-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background: rgb(255, 129, 38);
  width: 40px;
  height: 40px;
  color: white;
  border-radius: 50%;
}

.more-button:after {
  content: '\2022 \2022 \2022';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  font-size: 10px;
  margin-top: 2px;
}

.slick-slider {
  overflow: hidden;
}

.checklists {
  margin: 10px 6px;
}

.hearts-container svg {
  /* width: 25%; */
}

.hearts-container {
  padding: 1
  0px;
}

.freak {
  mix-blend-mode: overlay !important;
}