.App {
  text-align: center;
  background-color: #e4e1e0;
  min-height: 800px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header {
  background: linear-gradient(to bottom right,rgb(235, 87, 143), rgb(235, 84, 91),rgb(235, 87, 90), rgb(238, 135, 64));
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.logo-container {
  text-align: left;

}

.logo {
  width: 20%;
  padding-left: 6px;
}
.image--cover {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px 20px 0;

  object-fit: cover;
  object-position: center right;
}

.nav-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  padding: 0 5% 20px;
  margin-left: -1px;
}
.nav-container li:not(:first-child) {
  border-left: 1px solid white;
  padding-left: 10%;
}
.nav-container a {
  color: white;
  text-decoration: none;
}
.checklist-container {
  border-radius: 8px;
  background-color: white;
  margin: 5px;
}